@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import '../../styles/bootstrap-reboot.min.scss';
@import '../../styles/variables.scss';

body {
  font-family: 'Roboto', sans-serif;
  background-color: $main-background;
  color: $default-color;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.app {
  margin-top: 10rem;
  margin-bottom: 10rem;
  &-countries {
    padding-top: 35px;
    min-height: 366px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-left { width: 40%; }
    &-right { width: 55%; }
  }
}

