.country-header {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
}

.country-detailed {
  padding-top: 5px; 
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.country-information { padding-bottom: 5px; }

.country-title {
  font-weight: 500;
  font-size: 16px;
}

.country-subitlte { font-weight: 300; }